<table>
  <thead>
    <th>Letter</th>
    <th>Code</th>
  </thead>
  <tbody>
    {{#each alphabet}}
    <tr>
      <td>{{letter}}</td>
      <td>{{code}}</td>
      <td>{{{audio_link this}}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>